import { FC } from "react";

type {{pascalCase name}}Props = { text: string }

const {{pascalCase name}}:FC<{{pascalCase name}}Props> = ({ text }) => {
  return <div>{{pascalCase name}}</div>;
  };

  export default {{pascalCase name}};